@model CMS.Models.Report

@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<partial name="_Aside" />
<div class="main-content" id="panel">
<partial name="_Navbar" />

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">@ViewData["Title"]</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="card mb-4">
        <!-- Card body -->
        <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <div class="form-group">
                            <h3>Categorized by hospitals</h3>
                            <div class="chart">
                                <canvas id="hospital-piechart" class="chart-canvas"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="form-group">
                            <h3>Categorized by health center</h3>
                            <div class="chart">
                                <canvas id="healthcenter-piechart" class="chart-canvas"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="form-group">
                            <h3>Categorized by nursing station</h3>
                            <div class="chart">
                                <canvas id="nursingstation-piechart" class="chart-canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-lg-4 col-sm-12">
                         <div class="form-group">
                            <label asp-for="HospitalCount" class="form-control-label"></label>
                            <input asp-for="HospitalCount" class="form-control" readonly />
                         </div>
                     </div>
                    <div class="col-lg-4 col-sm-12">
                         <div class="form-group">
                            <label asp-for="NursingStationCount" class="form-control-label"></label>
                            <input asp-for="NursingStationCount" class="form-control" readonly />
                         </div>
                     </div>
                     <div class="col-lg-4 col-sm-12">
                         <div class="form-group">
                            <label asp-for="HealthCenterCount" class="form-control-label"></label>
                            <input asp-for="HealthCenterCount" class="form-control" readonly />
                         </div>
                     </div>
                </div>
                <div class="row">
                     <div class="col-lg-4 col-sm-12">
                         <div class="form-group">
                            <label asp-for="OthersCount" class="form-control-label"></label>
                            <input asp-for="OthersCount" class="form-control" readonly />
                         </div>
                     </div>
                     <div class="col-lg-4 col-sm-12">
                         <div class="form-group">
                            <label asp-for="TotalCount" class="form-control-label"></label>
                            <input asp-for="TotalCount" class="form-control" readonly />
                         </div>
                     </div>
                    <div class="col-lg-4 col-sm-12">
                         <div class="form-group">
                            <label asp-for="CreatedCount" class="form-control-label"></label>
                            <input asp-for="CreatedCount" class="form-control" readonly />
                         </div>
                     </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                         <div class="form-group">
                            <label asp-for="InProcessingCount" class="form-control-label"></label>
                            <input asp-for="InProcessingCount" class="form-control" readonly />
                         </div>
                     </div>
                     <div class="col-lg-4 col-sm-12">
                         <div class="form-group">
                            <label asp-for="ReviewedCount" class="form-control-label"></label>
                            <input asp-for="ReviewedCount" class="form-control" readonly />
                         </div>
                     </div>
                    <div class="col-lg-4 col-sm-12">
                         <div class="form-group">
                            <label asp-for="AwaitingPSCount" class="form-control-label"></label>
                            <input asp-for="AwaitingPSCount" class="form-control" readonly />
                         </div>
                     </div>
                </div>
                <div class="row">
                     <div class="col-lg-4 col-sm-12">
                         <div class="form-group">
                            <label asp-for="ProcessedCount" class="form-control-label"></label>
                            <input asp-for="ProcessedCount" class="form-control" readonly />
                         </div>
                     </div>
                     <div class="col-lg-4 col-sm-12">
                         <div class="form-group">
                            <label asp-for="ArchivedCount" class="form-control-label"></label>
                            <input asp-for="ArchivedCount" class="form-control" readonly />
                         </div>
                     </div>
                     <div class="col-lg-4 col-sm-12">
                         <div class="form-group">
                            <label asp-for="DeletedCount" class="form-control-label"></label>
                            <input asp-for="DeletedCount" class="form-control" readonly />
                         </div>
                     </div>
                </div>
        </div>
    </div>
</div>              

@{
    await Html.RenderPartialAsync("_ChartScript");
}

<script>
    var Hospital = [];
    var HospitalNames = [];
    var HealthCenter = [];
    var HealthCenterNames = [];
    var NursingStation = [];
    var NursingStationNames = [];

    @{
        if (@ViewBag.HospitalCounts.Count > 0)
        {
            foreach(var item in @ViewBag.HospitalCounts) {
                @:Hospital.push("@item");
            }
            foreach(var item in @ViewBag.HospitalNames) {
                @:HospitalNames.push("@item.Hospital.Name");
            }
        }

        if (@ViewBag.HealthCenterCount.Count > 0)
        {
             foreach(var item in @ViewBag.HealthCenterCount) {
                @:HealthCenter.push("@item");
            }
            foreach(var item in @ViewBag.HealthCenterNames) {
                @:HealthCenterNames.push("@item.HealthCenter.Name");
            }   
        }

        if (@ViewBag.NursingStationCount.Count > 0)
        {
            foreach (var item in @ViewBag.NursingStationCount)
            {
                @:NursingStation.push("@item");
            }
            foreach (var item in @ViewBag.NursingStationNames)
            {
                @:NursingStationNames.push("@item.NursingStation.Name");
            }
        }
    }

    const randomNum = () => Math.floor(Math.random() * (235 - 52 + 1) + 52);
    const randomRGB = () => `rgb(${randomNum()}, ${randomNum()}, ${randomNum()})`;

    const options = {
      type: 'pie',
      data: {
        labels: HospitalNames,
        datasets: [{
          label: "Hospital",
          data: Hospital,
          backgroundColor: () => (randomRGB())
        }]
      },
      options: {
        maintainAspectRatio: false
      }
    }

    const options2 = {
      type: 'pie',
      data: {
        labels: HealthCenterNames,
        datasets: [{
          label: 'Health Center',
          data: HealthCenter,
          backgroundColor: () => (randomRGB())
        }]
      },
      options: {
        maintainAspectRatio: false
      }
    }

     const options3 = {
      type: 'pie',
      data: {
        labels: NursingStationNames,
        datasets: [{
          label: 'Nursing Station',
          data: NursingStation,
          backgroundColor: () => (randomRGB())
        }]
      },
      options: {
        maintainAspectRatio: false
      }
    }

    const ctx = document.getElementById('hospital-piechart').getContext('2d');
    const ctx2 = document.getElementById('healthcenter-piechart').getContext('2d');
    const ctx3 = document.getElementById('nursingstation-piechart').getContext('2d');

    new Chart(ctx, options);
    new Chart(ctx2, options2);
    new Chart(ctx3, options3);
</script>
